body{
  background-color:black;
}

main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: grey;
  
}
.container{
  display: flex;
  justify-content: space-around;
  align-items:space-between;
  gap: 3rem;
  flex-flow:wrap;
  margin: 2rem  0;
  padding:  2rem;
  
  
}
img {
  border-radius: 50%;
   width: 100%; /* Make the width 100% of its container */
  height: auto; /* Automatically adjust the height based on the width */
  max-width: 300px; /* Limit the maximum width to 300px */
  max-height: 300px; /* Limit the maximum height to 300px */
  outline: 2px solid darkblue;
}

p{
  color: white;
}
p span {
  color: darkblue;
}
 .first p {
   animation: scrollLeft 10s linear infinite; 
 }

 @keyframes scrollLeft {
   0% {
     transform: translateX(25%);
   }
   100% {
     transform: translateX(-100%);
   }
 }
.first p{
  font-size:1.5rem;
}

.first{
  margin-left: 2rem;
  margin-right: 2rem;
  
}
.container .first button {
  background-color: darkblue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
.container .first button:hover {
  background-color: blue;
}